.container{
    display: flex;
    /*align-items: center;*/
}
.container img{
    width: 50%;
}
.container div{
    width: 50%;
}
.heroText{
    justify-content: center;
    margin-left: 50px;
    text-align: center;
    margin-top: 30px;
    align-items: center;
}
.formStyle{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.input {
    align-items: center;
    /*gap: 185px;*/
    font-size: 10px;
    font-weight: bold;
}

.input > h2 {
    margin-right: 55px;
    font-size: 10px;
}


.inputOne{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: -10px;
    color: #007bff;
    font-size: 10px;
    font-weight: bold;
    margin-top: -20px;
    margin-right: -305px;

}


.inputField{
    /*display: flex;*/
    border-radius: 7px;
    border: 1px solid black;
    width: 255px;
    height: 40px;
    align-items: center;

}

.error{
    color: red;

}

.remember-container{
    display: flex;
    justify-content: space-between;
}

.remember-container h6 {
    margin: 0;
}
